.Publications__ContainerContainer{
    height: 850px;
    display: flex;
    overflow: hidden auto;
    background-color: #ececec;
    width: 100%;
}
.Publications__DetailsContainer {
    height: 850px;
    overflow: hidden auto;
    background-color: white;
    width: 1300px;
}

.Publications__Container {
    height: 850px;
    overflow: hidden auto;
    background-color: #ececec;
    width: 450px;
}
.Publications__Panel {
    height: 150px;
    width: 448px;
    position: fixed;
    background-color: #ececec;
    border-bottom: 1px solid #919191;
}
.Publications__Panel_Wrapper {
    height: 150px;
}
.Publications__Buttons {
    display: inline-block;
    height: 40px;
    width: 350px;
    padding-top: 10px;
    padding-left: 20px;
}

.Publications__Filter {
    height: 80px;
    width: 448px;
    padding-top: 10px;
    padding-left: 20px;
}

.Publications__Label {
    font-size: 0.8rem;
}
.Publications__Title {
    padding-top: 10px;
    font-size: 1.5rem;
}
.Publications {
    height: 100%;
    overflow: hidden auto;
    background-color: #ececec;
    width: 450px;
    min-width: 250px;
    padding-left: 20px;
    padding-right: 20px;
    border-right: 2px solid #919191;
}

.Publications__list {
    list-style: none;
    margin: 0;
    padding: 0;
}

.Publications__item {
    padding-top: 10px;
    padding-bottom: 10px;
    border-top: 1px solid #919191;
    cursor: pointer;
}

.Publications__selected_item {
    padding-top: 10px;
    padding-bottom: 10px;
    border-top: 1px solid #919191;
    cursor: pointer;
    color: blue;
}
.btn {
    display: inline-block;
    background-color: #005198;
    color: #cccccc;
    padding: 0.4rem 0.4rem;
    border: none;
    cursor: pointer;
    font-size: 0.8rem;
    margin-top: 0.4rem;
    margin-left: 0.4rem;
    outline: none;
    transition: all 0.2s ease-in;
}
.btn:disabled {
    text-decoration: line-through;
}
.btn.btn-primary {
    background-color: #005198;
    color: #fff;
}
.btn.btn-primary:hover {
    background: #1ab6cf;
}
.btn.btn-dark {
    background-color: #343a40;
    color: #fff;
}
.btn.btn-dark:hover {
    background: #3f474e;
}
.btn.btn-success {
    background-color: #28a745;
    color: #fff;
}
.btn.btn-success:hover {
    background: #2dbc4e;
}
.btn.btn-danger {
    background-color: #dc3545;
    color: #fff;
}
.btn.btn-danger:hover {
    background: #e04b59;
}
.btn:hover {
    background: #626d78;
    color: #fff;
}

.filter_text_input {
    text-align: left;
    width: 120px;
    padding: 0.3rem;
    font-size: 1.2rem;
    border: 1px solid #ccc;
    font: inherit;
    margin-right: 0.5rem;
}


.Publications__Details_Panel {
    height: 800px;
    width: 1200px;
    padding-top: 10px;
    padding-left: 20px;
    background-color: white;
}
.Publications__Details_Panel_Select {
    height: 450px;
    width: 1200px;
    padding-top: 10px;
    /*padding-left: 20px;*/
    background-color: white;
}
.Publications__DetailsTable {
    display: table;
    width: 1200px;
}


.Publications__DetailsRow {
    display: table-row;
}

.Publications__DetailsCellLeft {
    display: table-cell;
    padding-left: 25px;
    padding-right: 5px;
    padding-top: 5px;
    padding-bottom: 5px;
    width: 100px;
    font-family: 'Lato', sans-serif;
    font-weight: bold;
    font-size: small;
}
.Publications__DetailsCellRight {
    display: table-cell;
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 5px;
    padding-bottom: 5px;
    width: 250px;
    font-family: 'Lato', sans-serif;
    font-size: small;
}
.Publications__ShortTextarea {
    display: block;
    text-align: left;
    width: 95%;
    height: 25px;
    /*padding: 0.4rem;*/
    font-size: small;
    border: 1px solid #ccc;
    font: inherit;
}

.Publications__Table_Container
{
    padding-left: 0px;
    padding-right: 0px;
    padding-top: 0px;
    padding-bottom: 5px;
    background-color: white;
    width: 1300px;
    height: 350px;
    border-bottom-style: solid;
    border-width: thin;
    border-color: #0055BF;
    overflow: scroll;

}
.Publications__Table {
    display: table;
    width: 1300px;
    border-left-style: solid;
    border-bottom-style: solid;
    border-top-style: solid;
    border-width: thin;
    border-color: #0055BF;

}
.Publications__TableWrapper
{
    border: 1px solid red;
    width: 1300px;
    overflow: auto;
}
.Publications__Header_Row
{
    display: table-header-group;
    font-weight: bold;
    text-align: center;
    width:auto;
}

.Publications__Row {
    display: table-row;
    width:auto;
}

.Publications__Table_Cell_Small
{
    display: table-cell;
    border-right-style: solid;
    border-bottom-style: solid;
    border-width: thin;
    border-color: #0055BF;
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 5px;
    padding-bottom: 5px;
    width: 100px;
    font-size: small;
    background-color:white;
}
.Publications__Table_Cell_Small_selected
{
    display: table-cell;
    border-right-style: solid;
    border-bottom-style: solid;
    border-width: thin;
    border-color: #0055BF;
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 5px;
    padding-bottom: 5px;
    width: 100px;
    font-size: small;
    background-color:cyan;
}
.Publications__Table_Cell_Medium
{
    display: table-cell;
    border-right-style: solid;
    border-bottom-style: solid;
    border-width: thin;
    border-color: #0055BF;
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 5px;
    padding-bottom: 5px;
    width: 120px;
    font-size: small;
    background-color:white;

}
.Publications__Table_Cell_Large
{
    display: table-cell;
    border-right-style: solid;
    border-bottom-style: solid;
    border-width: thin;
    border-color: #0055BF;
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 5px;
    padding-bottom: 5px;
    width: 200px;
    font-size: small;
    background-color:white;

}
.Publications__Table_Cell_Medium_selected
{
    display: table-cell;
    border-right-style: solid;
    border-bottom-style: solid;
    border-width: thin;
    border-color: #0055BF;
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 5px;
    padding-bottom: 5px;
    width: 120px;
    font-size: small;
    background-color:cyan;

}
.Publications__Table_Cell_Large_selected
{
    display: table-cell;
    border-right-style: solid;
    border-bottom-style: solid;
    border-width: thin;
    border-color: #0055BF;
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 5px;
    padding-bottom: 5px;
    width: 200px;
    font-size: small;
    background-color:cyan;

}

.Vertical_Spacer_10 {
    height: 10px;
}
.Publications__Grants_Panel{
    height: 265px;
    width: 1200px;
    padding-top: 10px;
    padding-left: 20px;
    background-color: bisque;
}
.Publications__Grants_Wrapper {
    height: 215px;
    overflow: hidden auto;
    background-color: white;
    width: 1150px;
    padding-left: 5px;
    padding-right: 5px;
    border-right: 2px solid black;
}

.Publications__Grants_List {
    list-style: none;
    margin: 0;
    padding: 0;
}

.Publications__Grants_Item {
    padding-top: 2px;
    padding-bottom: 2px;
    cursor: pointer;
}
.Publications__Trials_Panel{
    height: 265px;
    width: 1200px;
    padding-top: 10px;
    padding-left: 20px;
    background-color: lightcyan;
}
.Publications__Trials_Wrapper {
    height: 215px;
    overflow: hidden auto;
    background-color: white;
    width: 1150px;
    padding-left: 5px;
    padding-right: 5px;
    border-right: 2px solid black;
}

.Publications__Trials_List {
    list-style: none;
    margin: 0;
    padding: 0;
}

.Publications__Trials_Item {
    padding-top: 2px;
    padding-bottom: 2px;
    cursor: pointer;
}
.Publications__Publications_Panel{
    height: 765px;
    width: 1200px;
    padding-top: 10px;
    padding-left: 20px;
    margin-left: 20px;
    background-color: #ececec;
}
.Publications__Publications_Wrapper {
    height: 715px;
    overflow: hidden auto;
    background-color: white;
    width: 1150px;
    padding-left: 5px;
    padding-right: 5px;
    border-right: 2px solid black;
}

.Publications__Publications_List {
    list-style: none;
    margin: 0;
    padding: 0;
}

.Publications__Trials_Item {
    padding-top: 2px;
    padding-bottom: 2px;
    cursor: pointer;
}
::-webkit-scrollbar {
    -webkit-appearance: none;
    width: 7px;
}

::-webkit-scrollbar-thumb {
    border-radius: 4px;
    background-color: rgba(0, 0, 0, .5);
    box-shadow: 0 0 1px rgba(255, 255, 255, .5);
}

.Publications__CoreProjects_Item {
    padding-top: 2px;
    padding-bottom: 2px;
    padding-left: 50px;
    cursor: pointer;
}